<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<style>
    .tablecontainer{
        padding: 15px 20px;
    }
    .title{
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    table{
        border-collapse: collapse;
        width: 100%;
    }
    th,td{
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    tr:hover{
        background-color: #ccc;
    }
</style>
<body>
    <div class="topnav">    
        <a href="/" class="active">Home</a>
        <a href="/create">Create User</a>      
    </div>
    <div class="table-container">
       
        <div class="title">List User</div>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>
            

            <!-- <% for (let i=0; i < listUsers.length;i++) { %>
                <tr>
                    <td><%= listUsers[i].id %></td>
                    <td><%= listUsers[i].email %></td>
                    <td><%= listUsers[i].name %></td>
                    <td><%= listUsers[i].city %></td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            <% } %> -->
             

            <% listUsers.forEach(function(user){%>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td><%= user.name %></td>
                    <td><%= user.city %></td>
                    <td>
                        <a href="/update/<%= user.id %>">Edit</a>
                        <button>Delete</button>
                    </td>
                </tr>
               <%  }); %>
           
        </table>
    </div>
    
    <!-- <div class="form-add-news">
        <form action="/create-user" method="POST">
            <fieldset>
            <legend>Form add new users</legend>
            <div class="input-group">
                <label>Email:</label>       
                <input type="text" name="Mail">
            </div>  
            <div class="input-group">
                <label>Name:</label>
                <input type="text" name="myname">
             </div>
             <div class="input-group">
                <label>City:</label>
                <input type="text" name="City">
            </div>
            <div>
                <button>Save</button>
            </div>
            </fieldset>
        </form>
    </div> -->
</body>
</html>